<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <form (ngSubmit)="onSubmitInternshipForm()" [formGroup]="internForm">
            <h1>Create New Internship Report</h1>
            <h2 *ngIf="internCreated" class="internCreated">New Internship Report is now created!</h2>

            <!-- Initials -->
            <div class="form-group flex-container">
                <label class="flex-item" for="initials">Initials *</label>
                <input type="text" id="initials" class="form-control flex-item" formControlName="initials">
            </div>

            <!-- Student Name -->
            <div class="form-group flex-container">
                <label class="flex-item" for="name">Student Name *</label>
                <input type="text" id="name" class="form-control flex-item" formControlName="name">
            </div>

            <!-- Visit Date -->
            <div class="form-group flex-container">
                <label class="flex-item" for="visitDate">Visit Date *</label>
                <input type="date" id="visitDate" class="form-control flex-item" formControlName="visitDate">
            </div>

            <!-- ID of Internship -->
            <div class="form-group flex-container">
                <label class="flex-item" for="IDOfInternship">ID of Internship *</label>
                <input type="text" id="IDOfInternship" class="form-control flex-item" formControlName="IDOfInternship">
            </div>

            <!-- Company Name -->
            <div class="form-group flex-container">
                <label class="flex-item" for="companyName">Company Name *</label>
                <input type="text" id="companyName" class="form-control flex-item" formControlName="companyName">
            </div>

            <!-- Company Contact Person -->
            <div class="form-group flex-container">
                <label class="flex-item" for="companyPerson">Company Contact Person</label>
                <input type="text" id="companyPerson" class="form-control flex-item" formControlName="companyPerson">
            </div>

            <!-- Company Trends -->
            <div class="form-group flex-container">
                <label class="flex-item" for="companyTrends">Company Trends</label>
                <input type="text" id="companyTrends" class="form-control flex-item" formControlName="companyTrends">
            </div>

            <!-- Company Qualification -->
            <div class="form-group flex-container">
                <label class="flex-item" for="companyQualification">Company Qualification</label>
                <input type="text" id="companyQualification" class="form-control flex-item" formControlName="companyQualification">
            </div>

            <!-- Student Qualification -->
            <div class="form-group flex-container">
                <label class="flex-item" for="studentQuialification">Student Qualification</label>
                <input type="text" id="studentQualification" class="form-control flex-item" formControlName="studentQualification">
            </div>

            <!-- Cooperation -->
            <div class="form-group flex-container">
                <label class="flex-item" for="cooperation">Cooperation</label>
                <input type="text" id="cooperation" class="form-control flex-item" formControlName="cooperation">
            </div>

            <!-- Miscellaneous -->
            <div class="form-group flex-container">
                <label class="flex-item" for="miscellaneous">Miscellaneous</label>
                <textarea rows="5" id="miscellaneous" class="form-control flex-item" formControlName="miscellaneous">
          </textarea>
            </div>

            <!-- "Suggest Teacher" and "Suggest All" buttons -->
            <div class="form-group flex-container">
                <label class="flex-item"></label>
                <button class="btn btn-default flex-item" type="button" (click)="onSuggestAll()">Suggest All</button>
            </div>

            <div class="help-block" *ngIf="!internForm.valid && internForm.touched">
                <label class="required-star">* Please enter valid information:</label>
                <label *ngIf="!internForm.get('initials').valid && internForm.get('initials').touched">Initials</label>
                <label *ngIf="!internForm.get('name').valid && internForm.get('name').touched">Name of student</label>
                <label *ngIf="!internForm.get('visitDate').valid && internForm.get('visitDate').touched">Visit Date</label>
                <label *ngIf="!internForm.get('IDOfInternship').valid && internForm.get('IDOfInternship').touched">ID Of Internship</label>
                <label *ngIf="!internForm.get('companyName').valid && internForm.get('companyName').touched">Company Name</label>
            </div>

            <!-- Add Internship Report button -->
            <div class="flex-container">
                <button class="btn btn-primary flex-item" type="submit" [disabled]="!internForm.valid"><span>Create Internship Report</span></button>
            </div>
        </form>
    </div>
</body>

</html>