/*Variables to use in 'app.component.scss'. Mostly made to exercise with the SASS structure*/

/*Colors*/
$mainFontColor: #fff;
$internshipHeadingColor: firebrick;
$containerBGColor1: rgba(0, 0, 0, 0.7);
$containerBGColor2: rgba(0, 0, 0, 0.6);
$containerBGColor3: rgba(0, 0, 0, 0.5);
