<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>
<div class="internship-container" id="internship-header">
    <div class="jumbotron">
        <h1>Welcome to Internship Report Manager</h1>
        <h2>Please fill your report here</h2>
    </div>
    <!--<h2>PRAKTIKBESØGRAPPORT</h2>-->
    <!--Har udkommenteret ovenstående, da alt er på engelsk-->
</div>

<div class="internship-container" id="internship-fillout">
    <app-internship-new></app-internship-new>
</div>

<div class="internship-container" id="internship-reports">
    <app-internship-list></app-internship-list>
</div>
</body>