<!-- #f="ngForm" makes it possible to get the javascript-Object of the form values -->
 <form (ngSubmit)="onSubmitInternshipForm()" #f="ngForm">
      <div class="form-group">
        <label for="initials">Initials</label>
        <input type="text" 
          id="initials" 
          class="form-control" 
          ngModel
          name="initials"
          required
          #initials="ngModel">
          <span class="help-block" *ngIf="!initials.valid && initials.touched">Initials!</span>
      </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input 
        type="text" 
        id="name" 
        class="form-control"
        ngModel
        name="name"
        required
        #name="ngModel">
        <span class="help-block" *ngIf="!name.valid && name.touched">Name!</span>
    </div>
    <button 
      class="btn btn-primary"
      type="button"
      (click)="onSuggestTeacher()"
      >Suggest teacher
    </button>
    <button
      type="button"
      (click)="onSuggestAll()"
      >Suggest All
    </button>
    <div class="form-group">
      <label for="visitDate">Visit Time & Date</label>
      <input 
        type="date" 
        id="visitDate" 
        class="form-control"
        ngModel 
        name="visitDate"
        required
        #visitDate="ngModel">
        <span class="help-block" *ngIf="!visitDate.valid && visitDate.touched">visitTime visitDate!</span>
    </div>
    <div class="form-group">
      <label for="IDOfInternship">ID of Internship</label>
      <input 
        type="text" 
        id="IDOfInternship" 
        class="form-control"
        ngModel 
        name="IDOfInternship"
        required
        #IDOfInternship="ngModel">
        <span class="help-block" *ngIf="!IDOfInternship.valid && IDOfInternship.touched">ID!</span>
    </div>
    <div class="form-group">
      <label for="companyName">Company name</label>
      <input 
        type="text" 
        id="companyName" 
        class="form-control"
        ngModel 
        name="companyName"
        required
        #companyName="ngModel">
        <span class="help-block" *ngIf="!companyName.valid && companyName.touched" >Company Name!</span>
    </div>
    <div class="form-group">
      <label for="companyPerson">Company Person</label>
      <input 
        type="text" 
        id="companyPerson" 
        class="form-control"
        ngModel 
        name="companyPerson">
    </div>
    <div class="form-group">
      <label for="companyTrends">Company Trends</label>
      <input 
        type="text" 
        id="companyTrends" 
        class="form-control"
        ngModel 
        name="companyTrends">
    </div>
    <div class="form-group">
      <label for="companyQualification">Company Qualification</label>
      <input 
        type="text" 
        id="companyQualification" 
        class="form-control"
        ngModel 
        name="companyQualification">
    </div>
    <div class="form-group">
      <label for="studentQuialification">Student Qualification</label>
      <input 
        type="text" 
        id="studentQualification" 
        class="form-control"
        ngModel 
        name="studentQualification">
    </div>
    <div class="form-group">
      <label for="cooperation">Cooperation</label>
      <input 
        type="text" 
        id="cooperation" 
        class="form-control"
        ngModel 
        name="cooperation">
    </div>
    <div class="form-group">
      <label for="miscellaneous">Miscellaneous</label>
      <input 
        type="text" 
        id="miscellaneous" 
        class="form-control"
        ngModel 
        name="miscellaneous">
    </div>
    <button 
      type="submit"
      [disabled]="!f.valid"
    >Add Internship Report</button>
</form>
