<div class="container">
    <div class="headline">
        <h2>Internship Report - {{ intern?.data?.name }}</h2>
    </div>
    <span>
        <button type="button" class="btn btn-danger" data-toggle="modal" 
            data-target="#deleteModal" (click)="onDelete()" role="button">Delete
        </button>
    </span>
    <span>
        <button type="button" class="btn btn-info" (click)="onDetails()" role="button">{{ details }}</button>
    </span>

    <div class="isUpdated" *ngIf="isUpdated">{{ intern?.data?.name }}'s Internship Report is now updated!</div>
    <div *ngIf="update" class="update">

        <!-- String interpolation -->
        <div id="form-details">
            <div class="row">
                <form action="" method="post" name="registration" class="register form-horizontal" role="form">
                    <div class="see-more">
                        <div class="form-group flex-container">
                            <label for="initials" class="flex-item" role="label">Initials:</label>
                            <p role="paragraph">{{ intern?.data?.initials }}</p>
                        </div>
                        <div class="form-group flex-container">
                            <label for="name" class="flex-item" role="label">Name:</label>
                            <p role="paragraph">{{ intern?.data?.name }}</p>
                        </div>
                        <div class="form-group flex-container">
                            <label for="visitDate" class="flex-item" role="label">Visit Date:</label>
                            <p role="paragraph">{{ intern?.data?.visitDate | date:'EEEE d MMMM y'}}</p>
                        </div>
                        <div class="form-group flex-container">
                            <label for="companyName" class="flex-item" role="label">Company Name:</label>
                            <p role="paragraph">{{ intern?.data?.companyName }}</p>
                        </div>
                        <div class="form-group flex-container">
                            <label for="Company Person" class="flex-item" role="label">Company Contact Person:</label>
                            <p role="paragraph">{{ intern?.data?.companyPerson }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Trigger the editModal with a button -->
        <span><button type="button" id="see-more-button" class="btn btn-info" data-toggle="modal" 
            data-target="#editModal" role="button">See More</button></span>
        <app-internship-edit [intern]="intern" (onInternUpdated)="internUpdated()"></app-internship-edit>
    </div>
</div>

<app-internship-delete *ngIf="deletePressed" [internToBeDeleted]="intern" (onInternDeleted)="internDeleted()"></app-internship-delete>
<div *ngIf="isDeleted" class="isDeleted">
    {{ intern?.data?.name }}'s Internship Report is now deleted!
</div>