<div class="container">
    <div class="headline-animation"> Internship Report - {{ intern?.data?.name }} </div>
    <!--<div *ngIf="intern?.data?.initials"> {{ intern.data.initials }} </div>-->
    <br>
    <span>
        <button type="button" class="btn btn-danger" data-toggle="modal" 
            data-target="#deleteModal" (click)="onDelete()">Delete
        </button>
    </span>
    <span>
        <button type="button" class="btn btn-info" (click)="onDetails()">{{ details }}</button>
    </span>

    <div *ngIf="isUpdated">Is now updated</div>
    <div *ngIf="update" class="update">

        <!-- String interpolation -->
        <div>
            <label for="initials">Initials</label>
                <p>{{ intern?.data?.initials }}</p>
        </div>
        <div>
            <label for="name">Name</label>
            <p>{{ intern?.data?.name }}</p>
        </div>
        <div>
            <!-- Date pipe -->
            <label for="visitDate">Visit Date</label>
            <p>{{ intern?.data?.visitDate | date:'EEEE d MMMM y'}}</p>
        </div>
        <div>
            <label for="companyName">Company Name</label>
            <p>{{ intern?.data?.companyName }}</p>
        </div>
        <div>
            <label for="Company Person">Company Person</label>
            <p>{{ intern?.data?.companyPerson }}</p>
        </div>
        <br>

        <!-- Trigger the editModal with a button -->
        <span><button type="button" class="btn btn-info" data-toggle="modal" 
            data-target="#editModal">See More</button></span>
        <app-internship-edit [intern]="intern" (onInternUpdated)="internUpdated()" ></app-internship-edit>
    </div>
</div>

<app-internship-delete *ngIf="deletePressed" [internToBeDeleted]="intern" 
    (onInternDeleted)="internDeleted()"></app-internship-delete>
<div *ngIf="isDeleted" class="isDeleted">
    {{ intern?.data?.name }}'s internship report is now deleted
</div>