<div class="container container-transitions">
    <h1 role="heading">All Internship Reports</h1>
    <h2 role="heading">Here you can see and edit all registered Interships Reports</h2>
    <div>
        <input id="search-bar" type="text" placeholder="Search for student here.." [(ngModel)]="searchString" role="search">
        <br>
        <br>
        
        <a *ngFor="let el of interns | search: searchString; let i = index">
            <div class="boxes">
                <app-internship-details [intern]="el"></app-internship-details>
            </div>
        </a>
    </div>
</div>