@import 'app/style/scss/vars.scss';

body{
    background-image: url(assets/_img/bg-kea-form.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Media Queries*/

//Make a (max-width : 320px) {}

/* Smartphones */
@media only screen and (min-width : 320px) {
    body {
        h1{
            // background-color:red; //For testing
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
        h3 {
            font-size: 12px;
        }
        p, label, a, input[type=text], input[type=date], .textarea {
            font-size: 10px;
        }
        svg {
            width: 100px;
            height: 50px;
        }
        img{
            width: 80%;
            height: 80%;
        }
        .photo-overlay{
            width: 80%;
            height: 60px;
        }
        #search-bar {
            width: 140px;
        }
        .modal-content {
            width: 80%;
        }
        .help-block{
            padding-left: 330px;
        }
    }
}

/* iPads */
@media only screen and (min-width : 768px) {
    body {
        h1{
            // background-color: blue; //For testing
            font-size: 30px;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 15px;
        }
        p, label, a, input[type=text], input[type=date], .textarea {
            font-size: 12px;
        }
        svg {
            width: 150px;
            height: 60px;
        }
        img{
            width: 80%;
            height: 80%;
        }
        .photo-overlay{
            width: 80%;
            height: 75px;
        }
        #search-bar {
            width: 160px;
        }
        .modal-content {
            width: 90%;
        }
        .help-block{
            padding-left: 430px;
        }
    }
}

/* Desktops and laptops */
@media only screen  and (min-width : 1224px) {
    body {
        h1{
            // background-color: green; //For testing
            font-size: 35px;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 18px;
        }
        p, label, a, input[type=text], input[type=date], .textarea {
            font-size: 15px;
        }
        #welcomeText {
            font-size: 50px;
        }
        svg {
            width: 200px;
            height: 75px;
        }
        img{
            width: 960px;
            height: 545px;
        }
        .photo-overlay{
            width: 960px;
            height: 90px;
        }
        #search-bar {
            width: 190px;
        }
        .modal-content {
            width: 100%;
        }
        .help-block{
            padding-left: 530px;
        }
    }
}