<div class="internship-container" id="internship-header">
        <h1 id="welcomeText" role="heading">Welcome to Internship Report Manager</h1>
        <h2 role="heading">View and edit all the Internship Reports here!</h2>
</div>

<div class="photo-container">
    <div class="photo">
        <img src="https://business.bmcdn.dk/media/cache/resolve/image_960x545/image/11/119717/7930949-kea.jpg" alt="KEA Building" role="image">
        <div class="photo-overlay">
            <h3 role="heading">Københavns Erhvervsakademi</h3>
            <p role="paragraph">Lygten 37, 2200 København N
        </div>
    </div>
</div>