@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

.navbar {
    background: none;
    border: none; 
    float: right;

    a{
        color: $mainFontColor;
        font-family: $bodyFontFamily;
        font-weight: $fontWeight;
    }

    a:hover{
        color: grey;
    }

    .active-router{
        background-color: $infoColor;
        border-radius: 2px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 767px){
    .test {
        width: 100%;
        // display: block;
        // align-items: flex-end;
        .in{
            // padding-top: 10px;
        }
    }
}