@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

h1{
    text-align: center;
    margin: 5px 0px;
    padding: 7px 0px;
    color: $h1Color;
    font-family: $headerFontFamily;
    font-weight: $fontWeight;
    text-shadow: 2px 2px 5px black;
}

h2{
    text-align: center;
    margin: 5px 0px;
    padding: 7px 0px;
    color: $mainFontColor;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
    text-shadow: 2px 2px 5px black;
}

svg {
    transform: translate(25px, 25px);

    stroke-dasharray: 20;
    animation: dash 10s linear  infinite;
}

/*Creating dashes in the stroke of SVG shapes. 
The higher the number, the more space in between dashes in the stroke.*/
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.photo{
    text-align: center;
    margin-top: 3%;
    position: relative;
	line-height: 0;
	overflow: hidden;
}

.photo-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.photo-overlay {
    color: #ffffff;
	position: absolute;
	// height: 90px; //Shows a block //See media queries
	bottom: 0; 
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;

    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
    text-shadow: 2px 2px 5px black;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	opacity: 1;
	transition-property: opacity;
	transition-duration: .5s;
    background: rgba(0, 0, 0, .65);

    &:hover{
        opacity: 0;
    }

    p{
        line-height: 1.25em;
        margin-top: 0em;
        margin-bottom: .5em;
        color: white;
    }
}