@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

*{
    margin: 0; /*Reset margin*/
    padding: 0; /*Reset padding*/
    box-sizing: border-box; /*Changes the original box-model to the border-box model*/
    /*border: 1px solid black; /*Only for testing. Will be removed/deleted when done*/
}

.container{
    width: 850px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: $containerBGColor;
    border-radius: 7px;
}

svg {
    width: 200px;
    height: 74px;
    transform: translate(25px, 25px);
}

form{
    padding: 20px;
    margin: 20px;
}

h1{
    color: $createh1Color;
    font-family: $headerFontFamily;
    font-size: $h1FontSize;
    font-weight: $fontWeight;
    text-align: center;
    margin-bottom: 4%;
    text-decoration: none;
}

button, input, label{
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontWeight;
    text-decoration: none;
    margin: 0px 5px; 
}

button, input{
    border-radius: 5px;
    box-shadow: none;
}

button {
    cursor: pointer;
}

button[type=submit]:disabled{
    cursor: default;
}

label{
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    color: $labelColor;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
}

/*Divs - Containers*/
.flex-container{
    // display: -webkit-flex;
    display: flex;
    // -webkit-justify-content: center;
    justify-content: center;
    margin: 5px 5px;
    padding: 5px 5px; 
}

.flex-item{
    width: 40%;   
}

//When input is 'invalid' and also 'touched', do this..
input.ng-invalid.ng-touched{
    border-color: $dangerColor;
    background: url(../../../assets/_img/Error-128.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    background-position-x: 250px; //Media Query Dependent
}

//Red text when input is invalid
.requiredValidator{
    color: $dangerColor;
    text-decoration: none;
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontWeight;
}

.help-block{
    padding-left: 375px; //Media Query Dependent
    margin-top: -10px;
    padding-bottom: 10px;

    label{
        font-family: $bodyFontFamily;
        font-size: $bodyFontSize;
        font-weight: $fontWeight;
    }
}

.required-star {
    color: $dangerColor;
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontWeight;
}

.internCreated {
    color: $successColor;
    font-family: $bodyFontFamily;
    font-size: $h2FontSize;
    font-weight: $fontWeight;
    text-align: center;
    margin-bottom: 4%;
}

//Small transformations for "Suggest Teacher" and "Suggest All" buttons
.btn-primary:active{
    transform: translateY(4px);
}

.btn-default:active{
    transform: translateX(4px);
}

.btn-primary {
    &:active {
        transform: translateX(4px);
    }
}

//Transition and transformation for "Internship Repport" button
.btn-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

    &:after {
        content: '\00bb'; //double arrows
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;  
    }

    &:hover{
      padding-right: 25px;  

      &:after {
          opacity: 1;
    right: 0;
      }
    }
}

/*Media Queries*/
// @media screen and (max-width: 320px){
//     label, input, button, span{
//         font-size: 10px;
//     }

//     h2{
//         font-size: 18px;
//     }

//     .help-block{
//         padding-left: 101px; 

//         label{
//             font-size: 7px; 
//         }
//     }

//     input.ng-invalid.ng-touched{
//         background-position-x: 35px; 
//     }    
// }

// @media screen and (min-width: 321px) and (max-width: 420px){
//     label, input, button, span{
//         font-size: 12px;
//     }

//     h2{
//         font-size: 19px;
//     }

//     .help-block{
//         padding-left: 155px; 

//         label{
//             font-size: 9px; 
//         }
//     }

//     input.ng-invalid.ng-touched{
//         background-position-x: 73px; 
//     }    
// }

// @media screen and (min-width: 421px) and (max-width: 699px){
//     label, input, button, span{
//         font-size: 15px;
//     }

//     h2{
//         font-size: 21px;
//     }

//     .help-block{
//         padding-left: 261px; 

//         label{
//             font-size: 12px; 
//         }
//     }

//     input.ng-invalid.ng-touched{
//         background-position-x: 145px; 
//     }
// }

// @media screen and (min-width: 700px) and (max-width: 999px){
//     label, input, button, span{
//         font-size: 18px;
//     }

//     h2{
//         font-size: 24px;
//     }

//     .help-block{
//         padding-left: 360px; 

//         label{
//             font-size: 14px; 
//         }
//     }

//     input.ng-invalid.ng-touched{
//         background-position-x: 215px; 
//     }    
// }

// @media screen and (min-width: 1000px){
//     label, input, button, span{
//         font-size: 20px;
//     }

//     h2{
//         font-size: 28px;
//     }

//     .help-block{
//         padding-left: 410px; 

//         label{
//             font-size: 15px; 
//         }
//     }

//     input.ng-invalid.ng-touched{
//         background-position-x: 250px; 
//     }   
// }