@import 'vars.scss';
@import 'mixins.scss';

a {
    @include pFontStack($family: 'Lato', $weight: '400', $font-size: '12px');
    color: $mainFontColor;
    font-size: 15px;

    &:hover{
        color: $mainFontColor;
        text-decoration: none;
    }
}

h1 {
    @include h1FontStack($family: 'Lato', $weight: '400', $font-size: '30px');
    color: $h1Color;
    text-align: center;
}

h2 {
    @include h2FontStack($family: 'Lato', $weight: '400', $font-size: '15px');
    color: $mainFontColor;
    text-align: center;
}

#search-bar {
    float: right;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    border-radius: 20px;
    // margin: -20px;
}

svg {
    width: 200px;
    height: 74px;
    transform: translate(25px, 25px);
}

// .container-transitions {
    // transition: background 1s, color 1s;
    // border-radius: 1em;
// }

// .container-transitions:hover {
    // background: grey;
// }


/*Media Queries*/

// @media screen and (max-width: 320px) {
//     .container {
//         width: 280px;
//         h2 {
//             font-size: 18px;
//         }
//         a {
//             font-size: 9px;
//         }
//     }
// }

// @media screen and (min-width: 321px) and (max-width: 420px) {
//     .container {
//         width: 390px;
//         h2 {
//             font-size: 19px;
//         }
//         a {
//             font-size: 10px;
//         }
//     }
// }

// @media screen and (min-width: 421px) and (max-width: 699px) {
//     .container {
//         width: 600px;
//         h2 {
//             font-size: 21px;
//         }
//         a {
//             font-size: 12px;
//         }
//     }
// }

// @media screen and (min-width: 700px) and (max-width: 999px) {
//     .container {
//         width: 800px;
//         h2 {
//             font-size: 24px;
//         }
//         a {
//             font-size: 15px;
//         }
//     }
// }

// @media screen and (min-width: 1000px) {
//     .container {
//         width: 900px;
//         h2 {
//             font-size: 28px;
//         }
//         a {
//             font-size: 19px;
//         }
//     }
// }