@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: 7px 0px;
}

.container {
    margin: 20px;
}

label {
    color: $labelColor;
    font-weight: bold;
    font-family: $bodyFontFamily;
}

input[type=date] {
    width: 40%;
}

.isDeleted {
    color: $dangerColor;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
}

.isUpdated {
    color: $successColor;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
}

h2{
    // text-align: center;
}

.btn {
    // float: center;
    // text-align: center;
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.flex-container{
    display: flex;
    // justify-content: center;
    margin: 5px 5px;
    padding: 5px 5px; 
}

.flex-item {
    width: 15%;

    &:label {
        display: block;
    }
}