@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

a {
    color: $labelColor;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;

    &:hover{
        color: $labelColor;
        text-decoration: none;
    }
}

h1 {
    color: $h1Color;
    text-align: center;
    font-family: $headerFontFamily;
    font-weight: $fontWeight;
}

h2 {
    color: $mainFontColor;
    text-align: center;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
}

#search-bar {
    float: right;
    padding: 8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    border-radius: 20px;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
}

svg {
    transform: translate(25px, 25px);
}

.boxes {
    background-color: $containerBGColor;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 3px;
}      

// .container-transitions {
    // transition: background 1s, color 1s;
    // border-radius: 1em;
// }

// .container-transitions:hover {
    // background: grey;
// }