@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

h4 {
    color: $popUpFontColor;
    font-family: $bodyFontFamily;
    font-size: $h4FontSize;
    font-weight: $fontWeight;
}

p {
    color: $popUpFontColor;
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
    font-weight: $fontWeight;
}

.modal-header {
    background-color: $dangerBgColor;
}