@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: 7px 0px;
}

.container {
    margin: 20px;
}

label {
    color: $labelColor;
    font-weight: bold;
    font-family: $bodyFontFamily;
}

input[type=date] {
    width: 40%;
}

.isDeleted {
    color: $dangerBgColor;
    font-family: $bodyFontFamily;
    font-weight: $fontWeight;
}