@mixin h1FontStack($family: 'Verdana', $weight: '400', $font-size: '30px'){
    font: {
        family: $family;
        weight: $weight;
        font-size: $font-size;
    }
}

@mixin h2FontStack($family: 'Verdana', $weight: '400', $font-size: '15px'){
    font: {
        family: $family;
        weight: $weight;
        font-size: $font-size;
    }
}

@mixin pFontStack($family: 'Verdana', $weight: '400', $font-size: '12px'){
    font: {
        family: $family;
        weight: $weight;
        font-size: $font-size;
    }
}