//Font-colors
$h1Color: whitesmoke;
$labelColor: whitesmoke;
$mainFontColor: lightgrey;
$popUpFontColor: #000;

//Font and Button colors
$infoColor: #5bc0de;
$successColor: #5cb85c;
$warningColor: #9f6000;
$dangerColor: #d9534f;

//Background colors
$mainBgColor: #364044;
$containerBGColor: rgba(0, 0, 0, 0.7);
$infoBgColor: #d9edf7;
$successBgColor: #dff0d8;
$warningBgColor: #fcf8e3;
$dangerBgColor: #f2dede;

//Font-families
$headerFontFamily: 'Open Sans', sans-serif;
$bodyFontFamily: 'Lato', sans-serif;

//Font-sizes -> See media queries in styles.scss

//Font-weights
$fontWeight: 400;