//Font-colors
$h1Color: #000;
$createh1Color: #fff;
$labelColor: whitesmoke;
$mainFontColor: #676767;
$popUpFontColor: #000;

//Font and Button colors
$infoColor: #00529b;
$successColor: #4f8a10;
$warningColor: #9f6000;
$dangerColor: #d8000c;

//Background colors
$containerBGColor: rgba(0, 0, 0, 0.7);

$infoBgColor: #bde5f8;
$successBgColor: #dff2bf;
$warningBgColor: #feefb3;
$dangerBgColor: #ffbaba;

//Font-families
$headerFontFamily: 'Open Sans', sans-serif;
$bodyFontFamily: 'Lato', sans-serif;

//Font-sizes -> See media queries in styles.scss

//Font-weights
$fontWeight: 400;