//From app.component.vars.scss
// $mainFontColor: whitesmoke;
$internshipHeadingColor: lightgrey;
$containerBGColor: rgba(0, 0, 0, 0.7);

//From Style Guide
$mainColor: #5bdedb;
$h1Color: #000;
$mainFontColor: #676767;
$linkColor: #4a90e2; 
$mainBgColor: #fff;

//From internship-new.component.vars.scss
$labelColor: whitesmoke;